<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Voting System{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Voting System</h1>
        <nav>
                <div class="navbar-left">
                {% if is_logged_in %}
                
                    <a href="/">Home</a>
                    <a href="/vote">Cast Your Vote</a>
                    <a href="/elections/create">Create Election</a>
                    <a href="/voters/register">Register Voter</a>
                    <a href="/users/profile">User Profile</a>
                        
                {% else %}
                    <a href="users/login">Login</a>
                    <a href="users/sign-up">Register</a>
                {% endif %}
                </div>
                <div class="navbar-right">
                    {% if is_logged_in %}
                    <form action="users/logout" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-logout">Logout</button>
                    </form>
                    {% endif %}
                </div>
        </nav>
    </header>
    <main>
        <div id="alert-box" style="display: none;">
            <p id="alert-message"></p>
        </div>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Voting System By Emilio Garro Rangel</p>
    </footer>
</body>
</html>
