{% extends "base.html" %}

{% block title %}Cast Your Vote{% endblock %}

{% block content %}
<h2>Cast Your Vote</h2>

<form method="post" id="voteForm" action="" onsubmit="formatJson(event)">

    <label for="voter">Select Your Voter ID:</label>
    <select name="voter_id" id="voter" onchange="updateFormAction()">
        {% for voter in voters %}
        <option value="{{ voter.voter_id }}">{{ voter.name }}</option>
        {% endfor %}
    </select>

    <label for="election">Select Election:</label>
    <select name="election_id" id="election" onchange="updateCandidates(); updateFormAction();">
        {% for election in elections %}
        <option value="{{ election.election_id }}">{{ election.name }}</option>
        {% endfor %}
    </select>

    <label for="candidate">Select Candidate:</label>
    <select name="candidate" id="candidate">
        {% for candidate in elections[0].candidates %}
        <option value="{{ candidate }}">{{ candidate }}</option>
        {% endfor %}
    </select>

    <button type="submit">Vote</button>
</form>

<script>
    var electionData = JSON.parse('{{ elections | tojson | safe }}'); 

    
    function formatJson(event) {
        event.preventDefault();

        var voterId = document.getElementById("voter").value;
        var electionId = document.getElementById("election").value;
        var candidate = document.getElementById("candidate").value;

        fetch(`/voters/voters/${voterId}/elections/${electionId}/cast_vote/`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                voter_id: voterId,
                election_id: electionId, 
                candidate: candidate 
            })
        }).then(response => response.json())
        .then(data => alert(data.message))
        .catch(error => console.error("Error:", error));
    }

    function updateCandidates() {
        var electionId = document.getElementById("election").value;
        var candidatesDropdown = document.getElementById("candidate");
        candidatesDropdown.innerHTML = "";

        electionData.forEach(function(election) {
            if (election.election_id == electionId) {
                election.candidates.forEach(function(candidate) {
                    var option = document.createElement("option");
                    option.value = candidate;
                    option.textContent = candidate;
                    candidatesDropdown.appendChild(option);
                });
            }
        });
    }

    function updateFormAction() {
        var voterId = document.getElementById("voter").value;
        var electionId = document.getElementById("election").value;
        var form = document.getElementById("voteForm");

        // Update form action dynamically
        form.action = `/voters/${voterId}/elections/${electionId}/cast_vote/`;
    }
</script>



{% endblock %}
